# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.env
.venv
env/
venv/

# Django
db.sqlite3
media/
staticfiles/
*.log

# Secrets
.env
settings_local.py

# IDEs
.vscode/
.idea/
.DS_Store
Thumbs.db

# Tests / coverage
htmlcov/
.tox/
.coverage
coverage.xml
*.cover
.pytest_cache/

# Build
build/
dist/
*.egg-info/
